swagger: "2.0"
info:
  description: "Fyde Management API docs"
  version: "1.0.0"
  title: "Fyde Enterprise Console"
  termsOfService: "https://www.fyde.com/terms"
  contact:
    email: "hello@fyde.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "enterprise.fyde.com"
basePath: "/api/v1"
tags:
- name: "auth"
  description: "Authentication on management console"
- name: "access_policies"
  description: "Operations on access policies"
  externalDocs:
    description: "Console docs"
    url: "https://fydeinc.github.io/docs/fyde-enterprise-console/add-policy/"
- name: "access_proxies"
  description: "Operations on access proxies"
  externalDocs:
    description: "Console docs"
    url: "https://fydeinc.github.io/docs/fyde-enterprise-console/add-fyde-access-proxy/"
- name: "access_resources"
  description: "Operations on access resources"
  externalDocs:
    description: "Console docs"
    url: "https://fydeinc.github.io/docs/fyde-enterprise-console/add-resource/"
- name: "asset_sources"
  description: "Operations on asset sources"
- name: "device_events"
  description: "Operations on device events"
- name: "devices"
  description: "Operations on devices"
- name: "groups"
  description: "Operations on groups"
  externalDocs:
    description: "Console docs"
    url: "https://fydeinc.github.io/docs/fyde-enterprise-console/add-group/"
- name: "user_directories"
  description: "Operations on user directories"
- name: "users"
  description: "Operations on users"
  externalDocs:
    description: "Console docs"
    url: "https://fydeinc.github.io/docs/fyde-enterprise-console/add-user/"
- name: "tenants"
  description: "Operations on tenants"
schemes:
- "https"
paths:
  /auth/sign_in:
    post:
      tags:
      - "auth"
      summary: "Initiate a management session"
      operationId: "signIn"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Object with management credentials"
        required: true
        schema:
          $ref: "#/definitions/SignInRequest"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/SignInResponse"
        401:
          description: "unauthorized: invalid credentials"
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: false
              errors:
                type: array
                items:
                  type: string
                  example: "Invalid login credentials. Please try again."
  /auth/password:
    put:
      tags:
      - "auth"
      summary: "Change management password"
      operationId: "changePassword"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Object with old and new password"
        required: true
        schema:
          $ref: "#/definitions/PasswordChangeRequest"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/PasswordChangeResponse"
        401:
          description: "unauthorized: invalid credentials or missing authentication headers"
          schema:
            $ref: "#/definitions/GenericUnauthorizedResponse"
    post:
      # TODO this POST auth/password appears to be deprecated, always returns 404
      tags:
      - "auth"
      summary: "Reset management password"
      operationId: "resetPassword"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Object with user email and redirect URL"
        required: true
        schema:
          $ref: "#/definitions/PasswordResetRequest"
  /users:
    get:
      tags:
      - "users"
      summary: "List users"
      operationId: "listUsers"
      produces:
      - "application/json"
      parameters:
      - in: query
        name: "status"
        description: "Restrict status of the returned users"
        required: false
        type: string
        enum: [enabled, disabled]
      - in: query
        name: "enrollment_status"
        description: "Restrict enrollment status of the returned users"
        required: false
        type: string
        enum: [enrolled, unenrolled, pending, expired]
      - in: query
        name: "group_name[]"
        description: "Restrict groups of the returned users"
        required: false
        type: array
        collectionFormat: multi
        items:
          type: integer
      responses:
        200:
          description: "successful operation"
          schema:
            type: array
            items:
              allOf:
              - $ref: "#/definitions/User"
              - type: object
                properties:
                  total_devices:
                    type: integer
                    example: 2
        401:
          description: "unauthorized: invalid credentials or missing authentication headers"
          schema:
            $ref: "#/definitions/GenericUnauthorizedResponse"
    post:
      tags:
        - "users"
      produces:
      - "application/json"
      consumes:
      - "application/json"
      summary: "Create user"
      operationId: "createUser"
      parameters:
      - in: "body"
        name: "user"
        description: "Information about the user to create and whether to send an email invitation"
        required: true
        schema:
          type: object
          properties:
            user:
              type: object
              properties:
                email:
                  type: string
                  format: email
                enabled:
                  type: boolean
                  example: true
                group_ids:
                  type: array
                  items:
                    type: integer
                name:
                  type: string
                  example: "John Doe"
                phone_number:
                  type: string
                send_email_invitation:
                  type: boolean
      responses:
        201:
          description: "User created"
          schema:
            allOf:
              - $ref: "#/definitions/User"
              - type: object
                properties:
                  devices:
                    # TODO point to device model (probably)
                    type: array
                    items:
                      type: object
        401:
          description: "unauthorized: invalid credentials or missing authentication headers"
          schema:
            $ref: "#/definitions/GenericUnauthorizedResponse"
  /users/{id}:
    patch:
      tags:
        - "users"
      produces:
      - "application/json"
      consumes:
      - "application/json"
      summary: "Edit user"
      operationId: "editUser"
      parameters:
      - in: path
        name: "id"
        required: true
        type: integer
        description: "The ID of the user to edit"
      - in: body
        name: "user"
        description: "User information to modify"
        required: true
        schema:
          type: object
          properties:
            user:
              type: object
              properties:
                email:
                  type: string
                  format: email
                enabled:
                  type: boolean
                  example: true
                group_ids:
                  type: array
                  items:
                    type: integer
                name:
                  type: string
                  example: "John Doe"
                phone_number:
                  type: string
      responses:
        200:
          description: "User edited"
          schema:
            allOf:
              - $ref: "#/definitions/User"
              - type: object
                properties:
                  devices:
                    # TODO point to device model (probably)
                    type: array
                    items:
                      type: object
        401:
          description: "unauthorized: invalid credentials or missing authentication headers"
          schema:
            $ref: "#/definitions/GenericUnauthorizedResponse"
    delete:
      tags:
        - "users"
      summary: "Delete user"
      operationId: "deleteUser"
      parameters:
      - in: path
        name: "id"
        required: true
        type: integer
        description: "The ID of the user to delete"
      responses:
        204:
          description: "User deleted"
        401:
          description: "unauthorized: invalid credentials or missing authentication headers"
          schema:
            $ref: "#/definitions/GenericUnauthorizedResponse"
securityDefinitions:
  petstore_auth:
    type: "oauth2"
    authorizationUrl: "http://petstore.swagger.io/oauth/dialog"
    flow: "implicit"
    scopes:
      write:pets: "modify pets in your account"
      read:pets: "read your pets"
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  SignInRequest:
    type: "object"
    properties:
      email:
        type: "string"
      password:
        type: "string"
  SignInResponse:
    type: object
    properties:
      data:
        type: object
        properties:
          id:
            type: integer
          email:
            type: string
            format: email
          tenant_id:
            type: string
            format: uuid
          provider:
            type: string
            example: email
          name:
            type: string
            example: "John Doe"
          uid:
            type: string
            example: "john.doe@fyde.com"
          allow_password_change:
            type: boolean
          image:
            # TODO is it a string?
            type: string
            x-nullable: true
            example: null
          tenant_name:
            type: string
            example: "Fyde"
          last_sign_in_at:
            type: string
            format: date-time
  PasswordChangeRequest:
    type: object
    properties:
      current_password:
        type: string
        example: "123456"
      new_password:
        type: string
        example: "new_passw0rd"
      password_confirmation:
        type: string
        example: "new_passw0rd"
  PasswordChangeResponse:
    type: object
    properties:
      success:
        type: boolean
        example: true
      data:
        type: object
        properties:
          id:
            type: integer
            example: 34
          email:
            type: string
            format: email
          tenant_id:
            type: string
            format: uuid
          provider:
            type: string
            example: email
          name:
            type: string
            example: "John Doe"
          uid:
            type: string
            example: "john.doe@fyde.com"
          allow_password_change:
            type: boolean
          image:
            # TODO is it a string?
            type: string
            x-nullable: true
            example: true
          tenant_name:
            type: string
            example: "Fyde"
          last_sign_in_at:
            type: string
            format: date-time
          created_at:
            type: string
            format: date-time
          updated_at:
            type: string
            format: date-time
      message:
        type: string
        example: "Your password has been successfully updated."
  PasswordResetRequest:
    # TODO remove this if POST auth/password is deprecated
    type: object
    properties:
      email:
        type: string
        format: email
      redirect_url:
        type: string
        example: "https://enterprise.fyde.com/auth/password"
  User:
    type: object
    properties:
      id:
        type: integer
        example: 23
      name:
        type: string
        example: "John Doe"
      email:
        type: string
        format: email
      enabled:
        type: boolean 
        example: true
      modifiable:
        type: boolean
        example: true
      updated_at:
        type: string
        format: date-time
      created_at:
        type: string
        format: date-time
      status:
        type: string
        # TODO figure out other possible enum options
        enum: [unenrolled, enrolled]
        example: unenrolled
      enrollment_status:
        type: string
        enum: [valid, expired]
        example: expired
      enrollment:
        type: object
        properties:
          count:
            type: integer
            example: 4
          expiration:
            type: string
            format: date-time
          url:
            type: string
            format: url
            example: "https://www.fyde.com/enroll?endpoint=https%3A%2F%2Fexample.com&token=7b3710ca-9078-4ca3-9375-0a99392b02cf"
      groups:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
              example: 1
            name:
              type: string
              example: "All"
            color:
              type: string
              example: "#20B8AA"
  GenericUnauthorizedResponse:
    type: object
    properties:
      success:
        type: boolean
        example: false
      errors:
        type: array
        items:
          type: string
          example: "Unauthorized"
externalDocs:
  description: "Find out more about Fyde"
  url: "https://fydeinc.github.io/docs/"